@{
    if (ViewData["Title"] == null) { ViewData["Title"] = "Failed"; }
    Layout = "_LayoutProjects";
}

<div class="card border-danger">
    <div class="card-body">
        <h5 class="card-title text-danger">@ViewBag.Title</h5>
        <p class="card-text lead">@ViewBag.Message</p>
        <a class="btn btn-primary" asp-controller="Projects" asp-action="Index">View Projects</a>
    </div>
</div>

