@model ProjectManagement.Models.Work

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Work</h1>

<h2>Edit work details</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditWork">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary my-2" />
                <a class="btn btn-secondary" asp-action="Index" asp-route-id="@Model.List.BoardId">Back to List</a>
            </div>
        </form>
    </div>
</div>
<hr />
<h2>Delete work</h2>
<h3>Are you sure you want to delete work Project?</h3>
<h6>
    If you click "Delete" button, the work you selected will be gone. Warning! There is no possible to revive deleted work.
</h6>
<form asp-action="DeleteWork">
    <input type="hidden" asp-for="WorkId" />
    <div class="form-group">
        <input type="submit" value="Delete Work" class="btn btn-danger my-2" />
    </div>
</form>

