@model List<List>
@{
}
<div class="container">
    <div class="row">
        @foreach (var list in Model)
        {
            <div class="col-3">
                <h5 class="card-title">@list.Title</h5>
                <ul class="list-group">
                    @if (list.Works.Count > 0)
                    {
                        @foreach (var item in list.Works.OrderBy(x => x.OrderNumber))
                        {
                            <li class="list-group-item">
                                <span style="" class="col-3">&nbsp;&nbsp;</span>
                                @item.Title
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item text-muted">
                            + Add a new work
                        </li>
                    }

                </ul>
            </div>
        }
    </div>
</div>
