@model IEnumerable<ProjectManagement.Models.List>;

@{
    ViewData["Title"] = "List";
}
<style>
    .test1 {
        overflow-x: auto;
    }
</style>

<div class="container test1" >
    <div class="row">
        @foreach (var list in Model)
        {
            <div class="col-3 mb-5">
                <h5 class="card-title">@list.Title</h5>
                <ul class="list-group">
                    @if (list.Works != null && list.Works.Count > 0 )
                    {
                        @foreach (var item in list.Works.OrderBy(x => x.Priority))
                        {
                            <li class="list-group-item">
                                <span style="" class="col-3">&nbsp;&nbsp;</span>
                                @item.Title
                            </li>
                        }
                    }
                    <li class="list-group-item text-muted">
                        <div id="addWorkButton"> <button class="btn btn-primary" onclick="getElementById('addNewWork').style.display = 'block'; this.style.display = 'none'">+ Add a new work</button> </div>
                        <div id="addNewWork" style="display:none;">
                            <input type="text" class="form-control" placeholder="Enter a work name">
                            <button class="btn btn-primary" value="">Save work</button>
                            <button class="btn btn-danger " value="" onclick="getElementById('addNewWorkButton').style.display = 'block'; document.getElementById('addNewWork').style.display = 'none';">Cancel</button>
                        </div>
                    </li>
                </ul>
            </div>
        }

    <div class="col-3 mt-4">
        <ul class="list-group">
            <li class="list-group-item text-muted">
                <div id="addListButton">
                    <a class="btn btn-primary" asp-action="CreateList" asp-route-id="@Model.FirstOrDefault().BoardId">Create a List</a>
                </div>
            </li>
        </ul>
    </div>
        @*<div class="col-3">
            <ul class="list-group">
                <li class="list-group-item text-muted">
                    <div id="addListButton"> <button class="btn btn-primary" onclick="getElementById('addNewList').style.display = 'block'; document.getElementById('addListButton').style.display = 'none';">+ Add a new list!</button> </div>
                    <div id="addNewList" style="display:none;">
                        <input type="text" class="form-control" placeholder="Enter a list name">
                        <button class="btn btn-primary" value="">Add List</button>
                        <button class="btn btn-danger " value="" onclick="getElementById('addListButton').style.display = 'block'; document.getElementById('addNewList').style.display = 'none';">Cancel</button>
                    </div>
                </li>
            </ul>
        </div>*@
    </div>
</div>


