@*
    About Page
*@
@{
    ViewData["Title"] = "About";
}
<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Our mission is to provide project management easier for everyone</h1>
                    <p class="lead fw-normal text-muted mb-4">Project Management was built on the idea that quality and functionality to everyone. Use it to manage a project more conveniently.</p>
                   
                </div>
            </div>
        </div>
    </div>
</header>