@model ProjectManagement.Models.Board

@{
    ViewData["Title"] = "Create a Board";
    Layout = "_LayoutProjects";
}

<div class="text-center">
    <h1 class="display-4 ">Create a new Board</h1> 
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ProjectId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Board Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardDescription" class="control-label">Board Description</label>
                <textarea asp-for="BoardDescription" class="form-control" rows="5" > </textarea>
                <span asp-validation-for="BoardDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a class="btn btn-secondary" asp-action="Index" asp-route-id = "@Model.ProjectId">Back to Board List</a>
</div>
