@model ProjectManagement.Models.Board

@{
    ViewData["Title"] = "Edit Board";
    Layout = "_LayoutProjects";
}

<div class="text-center">
    <h1 class="display-4 ">Edit @Model.Title</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoardId" />
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardDescription" class="control-label"></label>
                <input asp-for="BoardDescription" class="form-control" />
                <span asp-validation-for="BoardDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a class="btn btn-secondary" asp-action="Index" asp-route-id = "@Model.Project.ProjectId">Back to Board List</a>
</div>

