@model ProjectManagement.Models.Project

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4 ">Create a new Project</h1>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Project Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @* TODO: add template selector *@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary my-2" />
                </div>
            </form>
        </div>
    </div>

    <hr />
    <div>
        <a class="btn btn-secondary" asp-action="Index">Back to Index</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
